//
// home.scss
//

#home {
  // display: block;
  // position: relative;
}
.brand {
  text-align: center;
}
#home .hero {
  position: relative;
  margin-top: 50%;
  margin-bottom: 2rem;
  // transform: translate(-50%, -50%);
  height: 7rem;
  background: beige;
}
