<div id="home">
  <div class="row">
    <div class="large-6 large-offset-3 small-8 small-offset-2 columns">
      <div class="hero">
        <div class="row">
          <h2 class="brand"><strong>Steno</strong>.fm</h1>
          <h4 class="brand subheader">search podcasts by text and speaker</h2>
        </div>
        <form>
        <button ng-click="hideBtn()" >Hide</button>
          <div class="row collapse" ng-controller="SearchCtrl">
            <div class="small-10 columns">
              <input 
                type="text" class="form-control"
                placeholder="Search podcasts&hellip;" 
                ng-model="query" 
                ng-keydown="skipToResultsView(query)"
                />
              <span ng-show="isLoading" class="glyphicon glyphicon-refresh"></span>
          </div>
          <div class="small-2 columns">
            <a href="#" class="button postfix">Go</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>