<div class="test-wrapper">
<main class="results internal">
	<section class="results-podcast">
		<div class="results-podcast-heading">
			<div class="results-podcast-heading-artwork">
				<img src="http://placehold.it/60x60" alt="">
			</div>
			<h1 class="results-podcast-heading-title">The Talk Show with John Gruber</h1>
		</div>


		<article class="results-episode">
			<h1 class="results-episode-title">Episode 98 Far Less Elegant with John Siracusa</h1>
			<div class="results-episode-content">
				<!-- <div class="results-episode-content-count"></div> -->
				<div class="results-episode-occurences">
					<div class="results-episode-occurence episode-occurence">
						<div class="episode-occurence-name">John Siracusa</div>
						<div class="episode-occurence-context">Hella narwhal Cosby sweater McSweeney's, salvia <span="episode-occurence-term">Facebook</span> before lthey sold out High Life. Umami sriracha.</div>
						<div class="episode-occurence-time">
							said at 33:01
						</div>
						<div class="episode-occurence-actions">
							<a href="#" class="play-episode">Play</a>
							<a href="#" class="share-episode">Share</a>
						</div>
					</div>
					<div class="results-episode-occurence episode-occurence">
						<div class="episode-occurence-name">John Gruber</div>
						<div class="episode-occurence-context">Hella narwhal Cosby sweater McSweeney's, salvia <span="episode-occurence-term">Facebook</span> before lthey sold out High Life. Umami sriracha.</div>
						<span class="episode-occurence-time">
							said at 42:09
						</span>
						<div class="episode-occurence-actions">
							<a href="#" class="play-episode">Play</a>
							<a href="#" class="share-episode">Share</a>
						</div>
					</div>
					<div class="results-episode-occurence episode-occurence">
						<div class="episode-occurence-name">John Siracusa</div>
						<div class="episode-occurence-context">Hella narwhal Cosby sweater McSweeney's, salvia <span="episode-occurence-term">Facebook</span> before lthey sold out High Life. Umami sriracha.</div>
						<span class="episode-occurence-time">
							said at 1:03:06
						</span>
						<div class="episode-occurence-actions">
							<a href="#" class="play-episode">Play</a>
							<a href="#" class="share-episode">Share</a>
						</div>
					</div>
				</div>
			</div>
			<div class="results-episode-actions">
				<a href="" class="results-episode-action results-episode-action--expand">See 10 more results</a>
				<div class="results-episode-action-icons">
					<a href="" class="results-episode-action results-episode-action--icon-link">Link</a>
					<a href="" class="results-episode-action results-episode-action--icon-link">Share</a>
				</div>
			</div>
		</article>
		
		

	</section>
</main>
</div>