//
// home.scss
//

$fg: #333;
$color1: rgb(246, 219, 168);
#results {
  margin: 12rem 0 0;
  padding: 0.5rem 0 1.5rem;
  // border: 1px solid $color1;
  .card {
    @include clearfix();
    padding: 0.5rem 0 1.25rem;
  }
  .cover {
    float: left;
    display: block;
    margin: 0 1em 0 0;
  }
  h1 {
    margin: 0;
    padding: 1rem 0 0;
    font-size: 1.2em;
    line-height: 1.25rem;
    font-weight: 400;
    color: lighten($fg, 10);
  }
  .piece, .podcast, .episode, .date {
    color: $fg;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.25rem;
  }
  .piece {
    display: block;
    // font-style: bold;
    clear: both;
  }
  .podcast {}
  .episode {}
  .date {}
  .bar {
    display: block;
    margin: (0.25rem + 0.5rem) 0 0;
    width: 100%;
    height: (1rem - 0.5rem);
    background-color: lighten($fg, 70);
    transition: all 250ms ease-in-out;
    cursor: pointer;
  }
  .card:hover .bar {
    margin-top: 0.5rem;
    height: (1rem - 0.25rem);
    background-color: lighten($fg, 60);
  }
  .highlight {
    float: left;
    height: 100%;
    background-color: $color1;
  }
}

.results {
  .results-podcast {
    transition: all 150ms ease-in;
    .results-podcast-heading-artwork {
      width: 8%;
      float: left;
    }
    .results-podcast-heading-title {
      font-size: 2rem;
      line-height: 60px;
      color: #fefefe;
    }
    .results-podcast-heading {
      @include clearfix();
    }
    &.ng-enter {
      transform: translateY(5%);
      opacity: 0.5;
      overflow: hidden;
    }
    &.ng-enter.ng-enter-active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .results-episode {
    margin-left: 8%;
    .results-episode-title {
      margin-bottom: 0;
      padding: 20px 30px;
      font-size: 1.25rem;
      font-weight: 400;
      color: #fff;
      background-color: $spot-color;
    }
    .results-episode-content {
      padding: 30px;
      background-color: #fff;
    }
    .results-episode-actions {
      padding: 15px 30px;
      background-color: #EAEDEE;
      border-top: 1px solid #ddd;
      .results-episode-action--expand {
        float: left;
      }
      @include clearfix();
    }
    .results-episode-action-icons {
      float: right;
    }
  }
}

.episode-occurence {
  @include clearfix();
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  &:last-child {
    border-bottom: none;
  }
  .episode-occurence-name {
    color: $spot-color;
    font-family: $display-font-stack;
    font-weight: 700;
    // text-transform: uppercase;
  }
  .episode-occurence-context {
    font-family: $body-font-stack;
    font-weight: 300;
    margin-bottom: 10px;
  }
  .episode-occurence-time {
    float: left;
    color: #999;
    font-size: 0.875;
    font-weight: 300;
  }
  .episode-occurence-actions {
    float: right;
    font-family: $display-font-stack;
    text-transform: uppercase;
    a:first-child {
      margin-right: 20px;
    }
  }
}

.test-wrapper {
  background: black;
}