// 
// variables.scss
// 

$display-font-stack: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
$body-font-stack: 'Gotham Narrow SSm A', 'Gotham Narrow SSm B', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;

$st-green: #5CA59A;
$grey-green: #B9C0BF;

$spot-color: $st-green;

