//
// common.scss
//

// base styles

h1, h2, h3, h4 {
  font-family: $display-font-stack;
}
body {
  font-family: $body-font-stack;
  background-color: #010101;
}
a {
  color: $spot-color;
  transition: 0.3s color;
  &:hover {
    color: darken($spot-color, 10%);
  }
}

// layout base styles
.internal {
  max-width: 60rem;
  margin: 0 auto;
}

//

#header {
  background: #1a1919 url(../images/home.png) repeat top;
  border-bottom: 1px solid #555;
  .top-bar {
    height: auto;
    background: transparent;
  }
  .search-box {
    width: 60%;
    float: left;
    margin-top: 10px;
    margin-bottom: 24px;
    input {
      height: 50px;
    }
  }
  .identity {
    margin-top: 20px;
    width: 16%;
    float: left;
    .identity-name {
      font-size: 2rem;
    }
  }
  .indicator {
    position: absolute;
    right: 1.75em;
    top: 1.35rem;
    &.ng-hide-add, 
    &.ng-hide-remove {
      /* this is required as of 1.3x to properly
         apply all styling in a show/hide animation */
      transition: all 0s linear;
    }
    &.ng-hide-add-active,
    &.ng-hide-remove-active {
      /* the transition is defined in the active class */
      transition: all 1s linear;
    }
  }
  .f-dropdown {
    max-width: 100%;
  }
}
#footer {
  width: 100%;
  color: rgba(255, 255, 255, 0.50);
  text-align: justify;
  a {
    color: rgba(255, 255, 255, 0.50);
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover a {
    color: rgba(255, 255, 255, 0.65); 
  }
}
.search-box {
  input, .button {
    padding: 1.35rem 2em 1.25rem 1em;
    font-size: 1.1em;
    line-height: 1.2em;
    // vertical-align: baseline;
  }
  transition: all 100ms ease-in-out;
  transition-delay: 250ms;
}
#query {
}

.ng-cloak {
  display: none !important;
}


