<script type="text/ng-template" id="customTemplate.html">
  <a>
      <img ng-src="http://upload.wikimedia.org/wikipedia/commons/thumb/{{match.model.flag}}" width="16">
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<form>
  <div class="row">
    <div class="large-6 large-offset-3 small-8 small-offset-2 columns">
      <div class="row collapse">
        <div class="small-10 columns">
          <input 
            type="text" class="form-control"
            placeholder="Search podcasts&hellip;" 
            ng-model="selected" 
            typeahead="address for address in getLocation($viewValue) | filter:$viewValue" 
            typeahead-loading="isLoading" 
            typeahead-min-length="2"
            typeahead-template-url="customTemplate.html"
            />
          <span ng-show="isLoading" class="glyphicon glyphicon-refresh"></span>
      </div>
      <div class="small-2 columns">
        <a href="#" class="button postfix">Go</a>
      </div>
    </div>
  </div>
</form>
