<div class="row">
  <div class="large-4 small-6 columns">
    <h4 class="panel">Foundation 5</h4>
    <p>The most advanced responsive front-end framework in the world.</p>
  </div>
  <div class="large-4 small-6 columns">
    <h4 class="panel">Angular</h4>
    <p>AngularJS is a toolset for building the framework most suited to your application development.</p>
  </div>
  <div class="large-4 small-6 columns">
    <h4 class="panel">Karma</h4>
    <p>Spectacular Test Runner for JavaScript.</p>
  </div>
</div>
